#container-demo {
	width: 100%;
}

#container-demo ul {
	padding: 0;
	margin: 0 0 20px 0;
	display: flex;
	flex-direction: column;
}

#container-demo li {
	width: 250px;
	height: 30px;
	list-style: none;
	background-color: #fff;
	margin: 0 5px 5px 0;
	cursor: not-allowed;
	border: 2px solid #999;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #999;
	position: relative;
}


#container-demo li.highlight::before {
    position: absolute;
    right: -30px;
    font-size: 21px;
    color: #999;
    font-family: "Material Design Icons";
    content: "\F730";
}

#container-demo li::after {
    position: absolute;
    content: "unselectable";
}

#container-demo li.ui-selectable {
/*	background-color: #0054D1;
	border-color: #0054D1;*/
	cursor: pointer;
	/*color: #fff;*/
}

#container-demo li.ui-selectable::after {
    content: "selectable";
}
#container-demo li.ui-selecting::after {
    content: "selecting";
}
#container-demo li.ui-selected::after {
    content: "selected";
}

#container-demo li.ui-selecting {
	border-color: rgb(40, 167, 69);
	background-color:  rgb(40, 167, 69);
	color: #fff;	
}
#container-demo li.ui-selected {
	border-color: #0054D1;
	background-color:  #0054D1;
	color: #fff;	
}

#output {
	height: 350px;
	overflow: auto;
	font-size: 13px;
	margin: 0 0 10px 0;
	background-color: #333;
}

#output code[class*="language-"], #output pre[class*="language-"] {
	text-shadow: none;
}
#output .token.selector,
#output .token.attr-name,
#output .token.string,
#output .token.char,
#output .token.builtin,
#output .token.inserted {
    color: rgb(114, 200, 0);
}
#output .token.punctuation {
	color: #fff;
}

#output .token.quotes {
	color: #ccc;
}

#output .token.boolean {
    color: rgb(138, 100, 226);
}
#output .token.number {
	color: rgb(232, 62, 140);
}


.btn code {

    color: #fff;
    font-weight: bold;

}

.buttons {
	display: flex;
	flex-direction: column;	
}

.buttons div {
	display: flex;
	justify-content: space-between;	
	margin: 0 0 10px 0;
}