#calendar ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
	cursor: crosshair;
}

#calendar li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

#calendar ul.weekdays {
  margin-bottom: 1em;
}

#calendar ul.weekdays li {
  height: 4vw;
}

#calendar ul.day-grid li {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 12vw;
  max-height: 125px;
}

#calendar ul.day-grid li.prev, #calendar ul.day-grid li.next {
  cursor: not-allowed;
}

#calendar ul.day-grid li.ui-selecting {
  background-color: rgb(181, 210, 253);
}

#calendar ul.day-grid li.ui-selected {
  background-color: #0054D1;
  color: #fff;
}

#calendar ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

#calendar ul.day-grid li:nth-child(1),
#calendar ul.day-grid li:nth-child(2),
#calendar ul.day-grid li:nth-child(3),
#calendar ul.day-grid li:nth-child(34),
#calendar ul.day-grid li:nth-child(35) {
  background-color: #fff;
}

@media all and (max-width: 800px) {
  #calendar ul {
    grid-gap: .25em;
  }
  
  #calendar ul.weekdays li {
    font-size: 0;
  }
  
  #calendar ul.weekdays > li abbr:after {
      content: attr(title);
      font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    }
}