#items {
  padding: 0;
  margin: 0;
}
#items li {
  list-style: none;
}

#items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
#items .item {
  display: flex;
  align-items: center;
  width: 250px;
  padding: 6px;
  background: #514d6a;
  margin: 0 0 5px 0;
  border-radius: 3px;
  color: #fff;
}
#items .item:hover {
  background: #5c5879;
}
#items .item label {
  margin: 0 20px 0 0;
}
#items .item.ui-selecting {
  background: #827da0;
  color: #fff;
}
#items .item.ui-selected {
  background-color: #009688;
  color: #fff;
}
