#container {
  width: 30vw;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ul .item {
  list-style: none;
  width: 100%;
  height: 50px;
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 5px 0;
  color: #fff;
  position: relative;
}
.item.ui-selecting {
  background-color: #009688;
}
.item.ui-selected {
  background-color: #673AB7;
}
.item .handle {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  cursor: move;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}