#container {
  text-align: center;
}
#demo-title {
  letter-spacing: -2px;
  font-size: 60px;
  color: #666;
  text-align: center;
  font-weight: 800;
}
#demo-title .dz {
  margin-right: 30px;
  position: relative;
}
#demo-title .sl, #demo-title .js {
  font-weight: 300;
}
#demo-title small {
  top: 18px;
  right: -24px;
  font-size: 24px;
  position: absolute;
  font-weight: 800;
}
#items {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
}
.item {
  list-style: none;
  width: 100%;
  height: 50px;
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 5px 0;
  color: #fff;
  position: relative;
}
.item.ui-selecting {
  background-color: #009688;
}
.item.ui-selected {
  background-color: #673AB7;
}
.item .handle {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  cursor: move;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}